<div class="panel panel-default col-md-6" align = "center">
  <div class="panel-body">
    <h1>User Profile</h1>
    <label>Name User:</label>
    <label> <%= @user.username %> </label></br>
    <label>Email:</label>
    <label> <%= @user.email %> </label></br>
    <label>Average Feedback:</label>
    <label> <%= @user.comments.where(state: 1).average(:score).round(2) %> </label></br></br>

  </div>
</div>


  <div class="panel panel-default col-md-6">
    <div class="panel-body">
      <h3>Comments</h3>
      <%= render "comments/comments" %>
<% if (current_user.id != @user.id) and (current_user.has_role? :client) %>
      <h3>Add Comment</h3>
      <%= render "comments/form" %>
    </div>
  </div>
<% end %>
