
<div class="container">
  <% if user_signed_in? %>
  <div class="container" align = "right">
    <%= link_to "Cart", detail_path(current_user.id), method: :get, class: "btn btn-info" %>
  <%end%>
  </div>

  <h2 align='center'>Welcome to store</h2>
  <div class="container" align = "right">
    <%= form_for @search, url: products_path, as: :search,  method: :get do |f| %>
       <%= f.text_field :name %>
       <%= link_to products_path, class: 'btn btn-warning' do %>
        Clear
       <% end %>
       <%= f.submit "Submit", class: 'btn btn-success' %>
    <% end %>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">SKU</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <% if user_signed_in? %>
          <th scope="col">Buy</th>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <% @product.each_with_index do |pro, index|%>
      <tr>
        <th scope="row"> <%= index+1%> </th>
        <td> <%= pro.sku%> </td>
        <td> <%= pro.name%> </td>
        <td> <%= pro.category.name%> </td>
        <td> <%= pro.price%> </td>
        <td> <%= pro.stock%> </td>
        <% if user_signed_in? %>
          <td><%= link_to "Show Product", product_path(pro.id), class: "btn btn-info" %></td>
        <%end%>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
