<h1> New Product </h1>
<%= form_for @product do |f| %>
    <div class="form-group">
      <p><%= label_tag 'Name' %></p>
      <p><%= f.text_field :name, placeholder: 'Product name', class: 'form-control' %></p>
    </div>
    <div class="form-group">
      <p><%= label_tag 'Price' %></p>
      <p><%= f.text_field :price, placeholder: 'Product Price', class: 'form-control', type: "number" %></p>
    </div>
    <div class="form-group">
      <p><%= label_tag 'Stock' %></p>
      <p><%= f.text_field :stock, placeholder: 'Product Stock', class: 'form-control', type: "number" %></p>
    </div>
    <div class="form-group">
      <p><%= label_tag 'Sku' %></p>
      <p><%= f.text_field :sku, value: Faker::Number.hexadecimal, placeholder: 'Product Sku', class: 'form-control', readonly: true %></p>
    </div>
    <div class="form-group">
      <p><%= label_tag 'Category' %></p>
      <p><%= f.select :category_id, @categories.collect {|p| [ p.name, p.id ] }, { include_blank: true }, class: 'form-control' %></p>
    </div>
    <div class="form-group">
      <p><%= label_tag 'Image' %></p>
      <p><%= f.file_field :image%></p>
    </div>
    <%= link_to products_path, class: "btn btn-info" do %>
      Back
   <% end %>
   <%= f.submit "Save", class: "btn btn-success" %>
<% end %>
