<div class="panel panel-default col-md-6" align = "center">
  <div class="panel-body">
    <h1>Product Detail</h1>
    <% if @product.image.attached? %>
      <%= image_tag @product.product_image %> </label></br></br>
    <% end %>
    <label>Name:</label>
    <label> <%= @product.name%> </label></br>
    <label>Category:</label>
    <label> <%= @product.category_name%> </label></br>
    <label>Quantity Available:</label>
    <label> <%= @product.stock%> </label></br>
    <label>Rating:</label>
    <label> <%= @product.comments.where(state: 1).average(:score).round(2) %> </label>
    <h3>Price: $<%=@product.price%></h3>
    <% if current_user and current_user.has_role? :client %>
      <%= form_for(Detail.new) do |f| %>
          <%= label_tag :quantity %>
          <%= f.select :quantity, (1..@product.stock) %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.submit "Add Cart" %>
      <% end %>
    <% end %>
  </div>
</div>
<% if current_user and current_user.has_role? :client %>
    <div class="panel panel-default col-md-6">
      <div class="panel-body">
        <h3>Comments</h3>

        <%= render "comments/comments" %>
        <h3>Add Comment</h3>
        <%= render "comments/form" %>
      </div>
    </div>
<% end %>
