<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<div class="container">
  <% if @purchase %>
  <div class="container">
   <div class="card shopping-cart">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Shipping cart
                <a href="/" class="btn btn-outline-info btn-sm pull-right">Continiu shopping</a>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                    <!-- PRODUCT -->
                    <% @total = 0 %>
                    <% @details.each do |detail|%>
                    <div class="row">
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-2">
                            <h4 class="product-name">SKU:   <strong><%= detail.product.sku %></strong></h4>
                            <h4>
                                <small></small>
                            </h4>
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-4">
                            <h4 class="product-name"><strong><%= detail.product.name %></strong></h4>
                            <h4>
                                <small><%= detail.product.category.name %></small>
                            </h4>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-6 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-5 text-md-right" style="padding-top: 5px">
                                <h4><strong><%= detail.product.price %><span class="text-muted"> x</span></strong></h4>
                            </div>
                            <div class="col-3 col-sm-3 col-md-5 text-md-right" style="padding-top: 5px">
                                <h4><strong><%= detail.quantity %><span class="text-muted"></span></strong></h4>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <button type="button" class="btn btn-outline-danger btn-xs">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <% @total = @total + detail.product.price %>
                    <% end %>

                    <!-- END PRODUCT -->
            </div>
            <div class="card-footer">
                <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">

                </div>
                <div class="pull-right" style="margin: 10px">
                    <%=link_to "Pay Account", pay_path(@purchase), class: "btn btn-success pull-right"%>
                    <div class="pull-right" style="margin: 5px">
                        Total price: <h4>$ <%= @total %></h4>
                    </div>
                </div>
            </div>
        </div>
      </div>
  <%else%>
    <h1>Add products to cart for buy</h1>
  <%end%>
</div>
